<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="0.0.1"
    package="com.baseschoolapp.schoolapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="73ab6bf0bc0b3760a1fd1ac9ff9fc4ba35c3106a" />

        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".Otp" />
        <activity android:name=".Registration" />
        <activity android:name=".StudentDashBoard" />
        <activity android:name=".SuccessLogin">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>